body{
	background: #383a3d;
	padding-top: 25vh;	
}
/* set form background colour*/
form{
	background: rgb(236, 130, 130);
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
}